<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("/img/appointments.jpg", class: "img-responsive") %>
          <span class="card-title">Please state a reason</span>
        </div>
        <div class="card-content">
          <p>The patient has requested a reason for denying the appointment. Please list it here.</p>

          TODO: put comment form here
        </div>
      </div>
    </div>
  </div>
</div>