<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("/img/appointments.jpg", class: "img-responsive") %>
          <span class="card-title">Authentication Error!</span>
        </div>
        <div class="card-content">
          <p>The page you requested has either been deleted or the link you pressed has expired.</p>
        </div>
      </div>
    </div>
  </div>
</div>