<% # Adds a stylesheet link in <head> # %>
<% content_for :header_include do %>
    <%= stylesheet_link_tag "login" %>
<% end %>

<form class="form-signin">
  <h1 class="form-signin-heading text-muted">Care Coordinator</h1>
  <input type="text" class="form-control" placeholder="Email Address" required="" autofocus="">
  <input type="password" class="form-control" placeholder="Password" required="">
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </div>
    <div class="col-md-4">
      <a href="/accounts/new" class="btn btn-lg btn-link btn-block">Sign Up</a>
    </div>
  </div>
</form>
