
<% # Adds a stylesheet link in <head> # %>
<% content_for :header_include do %>
    <%= stylesheet_link_tag "account-new" %>
<% end %>


<%= form_tag accounts_path, :method => :post, :class => "form-submit-account", :url => accounts_path do %>
  <h1 class="form-submit-account-heading text-muted">Create New Account</h1>
  <input name="user[first_name]" type="text" class="bottom form-control" placeholder="First Name" required="">
  <input name="user[last_name]" type="text" class="middle form-control" placeholder="Last Name" required="">
  <input name="user[email]" type="text" class="middle form-control" placeholder="Email Address" required="" autofocus="">
  <input name="user[phone]" type="text" class="middle form-control" placeholder="Phone Number" required="">
  <input name="user[password]" type="password" class="middle form-control" placeholder="Password" required="">
  <input name="user[password_confirm]" type="password" class="top form-control" placeholder="Confirm Password" required="">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Make Account</button>
<% end %>